In [1]:
from sqlalchemy import create_engine
database_path = "hawaii.sqlite"

In [2]:
engine = create_engine(f"sqlite:///{database_path}")

In [3]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [4]:
inspector = inspect(engine)
inspector.get_table_names()

['measurement', 'station']

In [5]:
columns = inspector.get_columns('measurement')
for column in columns:
    print(column["name"], column["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [6]:
columnss = inspector.get_columns('station')
for column in columnss:
    print(column["name"], column["type"])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [7]:
Base = automap_base()
Base.prepare(engine, reflect=True)

In [8]:
Base.classes.keys()

['measurement', 'station']

In [9]:
session = Session(engine)

In [10]:
Measurement = Base.classes.measurement
Frow = session.query(Measurement).first()
Frow.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x25a877778d0>,
 'tobs': 65.0,
 'prcp': 0.08,
 'station': 'USC00519397',
 'date': '2010-01-01',
 'id': 1}

In [11]:
Station = Base.classes.station
Frow = session.query(Station).first()
Frow.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x25a87777f28>,
 'elevation': 3.0,
 'latitude': 21.2716,
 'station': 'USC00519397',
 'longitude': -157.8168,
 'name': 'WAIKIKI 717.2, HI US',
 'id': 1}

Precipitation Analysis

In [12]:
import datetime as dt
#session.query(Measurement.prcp).limit(12).\
#Design a query to retrieve the last 12 months of precipitation data.
session.query(Measurement.date).order_by(Measurement.date.desc()).limit(12).all()

[('2017-08-23'),
 ('2017-08-23'),
 ('2017-08-23'),
 ('2017-08-23'),
 ('2017-08-22'),
 ('2017-08-22'),
 ('2017-08-22'),
 ('2017-08-21'),
 ('2017-08-21'),
 ('2017-08-21'),
 ('2017-08-21'),
 ('2017-08-20')]

In [13]:
query_date = dt.date(2017, 8, 23) - dt.timedelta(days=365)
print("Query Date: ", query_date)

Query Date:  2016-08-23

In [14]:
Precipt_month = session.query(Measurement.date, Measurement.prcp).\
    filter (Measurement.date >= query_date).all()

In [15]:
import pandas as pd
DataT = pd.DataFrame(Precipt_month)

In [16]:
DataT.head()

         date  prcp
0  2016-08-23  0.00
1  2016-08-24  0.08
2  2016-08-25  0.08
3  2016-08-26  0.00
4  2016-08-27  0.00

In [17]:
import matplotlib.pyplot as plt

In [18]:
#MISSING BAR GRAPH

Station Analysis

In [19]:
#Number of Stations
Nu_s = session.query(func.count(Station.station)).all()
print("The number of stations is: ", Nu_s)
sts = session.query(Station.station).all()
sts

The number of stations is:  [(9,)]

[('USC00519397'),
 ('USC00513117'),
 ('USC00514830'),
 ('USC00517948'),
 ('USC00518838'),
 ('USC00519523'),
 ('USC00519281'),
 ('USC00511918'),
 ('USC00516128')]

In [65]:
#Station wit highest number of observations
session.query(func.max(Measurement.station)).all()

[('USC00519523')]

In [81]:
#List stations and observation count in descending order
ObserDesc = session.query(Measurement.station, func.count(Measurement.station)).\
    group_by(Measurement.station).\
    order_by(func.count(Measurement.station).desc()).all()
ObserDesc

[('USC00519281', 2772),
 ('USC00519397', 2724),
 ('USC00513117', 2709),
 ('USC00519523', 2669),
 ('USC00516128', 2612),
 ('USC00514830', 2202),
 ('USC00511918', 1979),
 ('USC00517948', 1372),
 ('USC00518838', 511)]

In [83]:
session.query(Measurement.date, Measurement.station).\
    filter(Measurement.date >= query_date).\
    filter(Measurement.station == 'USC00519523').(all()

SyntaxError: invalid syntax (<ipython-input-83-4341a63c7c74>, line 3)