In [2]:
from sqlalchemy import create_engine
database_path = "hawaii.sqlite"

In [3]:
engine = create_engine(f"sqlite:///{database_path}")

In [4]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [5]:
inspector = inspect(engine)
inspector.get_table_names()

['measurement', 'station']

In [6]:
columns = inspector.get_columns('measurement')
for column in columns:
    print(column["name"], column["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [7]:
columnss = inspector.get_columns('station')
for column in columnss:
    print(column["name"], column["type"])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [8]:
Base = automap_base()
Base.prepare(engine, reflect=True)

In [9]:
Base.classes.keys()

['measurement', 'station']

In [10]:
session = Session(engine)

In [11]:
Measurement = Base.classes.measurement
Frow = session.query(Measurement).first()
Frow.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x13bd470>,
 'prcp': 0.08,
 'tobs': 65.0,
 'date': '2010-01-01',
 'station': 'USC00519397',
 'id': 1}

In [12]:
Station = Base.classes.station
Frow = session.query(Station).first()
Frow.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x150da70>,
 'name': 'WAIKIKI 717.2, HI US',
 'latitude': 21.2716,
 'id': 1,
 'longitude': -157.8168,
 'elevation': 3.0,
 'station': 'USC00519397'}

In [14]:
import datetime as dt
#session.query(Measurement.prcp).limit(12).\
#Design a query to retrieve the last 12 months of precipitation data.
session.query(Measurement.date).order_by(Measurement.date.desc()).limit(12).all()

[('2017-08-23'),
 ('2017-08-23'),
 ('2017-08-23'),
 ('2017-08-23'),
 ('2017-08-22'),
 ('2017-08-22'),
 ('2017-08-22'),
 ('2017-08-21'),
 ('2017-08-21'),
 ('2017-08-21'),
 ('2017-08-21'),
 ('2017-08-20')]

In [16]:
query_date = dt.date(2017, 8, 23) - dt.timedelta(days=365)
print("Query Date: ", query_date)

Query Date:  2016-08-23

In [20]:
Precipt_month = session.query(Measurement.date, Measurement.prcp).\
    filter (Measurement.date >= query_date).all()

In [30]:
import pandas as pd
DataT = pd.DataFrame(Precipt_month)

In [31]:
DataT.head()

         date  prcp
0  2016-08-23  0.00
1  2016-08-24  0.08
2  2016-08-25  0.08
3  2016-08-26  0.00
4  2016-08-27  0.00

In [34]:
DataT

TypeError: 'Index' object is not callable

In [32]:
import matplotlib.pyplot as plt

In [33]:

df = pd.DataT({'date':[date], 'prcp':[prcp]})
ax=df.plot.bar(x='date', y='prcp', rot=0)

AttributeError: module 'pandas' has no attribute 'DataT'